<mat-toolbar color="primary" class="nav-toolbar-container">

  <a [routerLink]="['/home']">
    ANMZ
  </a>

  <span class="example-spacer"></span>

  <ul role="navigation" class="nav-toolbar-items-list">
    <li>
      <a [routerLink]="['/home']" class="active"> Home</a>
    </li>
    <li>
      <a [routerLink]="['/setup-game']" class="active">
        Setup Game
      </a>
    </li>
    <li>
      <a [routerLink]="['/play-game']" class="active"> Play</a>
    </li>
  </ul>

  <!--   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
