<mat-toolbar color="primary" class="nav-toolbar-container">
 <!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>ANMZ</span>
  <span class="example-spacer"></span>

  <ul role="navigation" class="nav-toolbar-items-list">
    <li>
      <a [routerLink]="['/setup-game']" class="active">
        Setup Game
<!--         <mat-icon>favorite</mat-icon>
 -->      </a>
    </li>
    <li>
      <a [routerLink]="['/about']"> About</a>
    </li>
    <li>
      <a [routerLink]="['/play-game']"> Play</a>
    </li>
  </ul>

  <!--   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
