<div class="container">
  <h1>SETUP GAME</h1>

  <h2>Fill the form</h2>
  <mat-divider></mat-divider>

  <app-photo-perfil-form (formResponse)="formListener($event)"></app-photo-perfil-form>

  <br>

  <h2>Photos added</h2>
  <mat-divider></mat-divider>

  <br>

  <div *ngIf="(photoPerfilCollection$ | async)?.photoPerfilList ;else hasNoCollection">
    <app-photo-collection [datasource]=" (photoPerfilCollection$|async)?.photoPerfilList"></app-photo-collection>
  </div>

  <ng-template #hasNoCollection>
    <div class="d-flex flex-column align-items-center">
      <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_CGPHc4.json" background="transparent" speed="1"
        style="width: 150px; height: 150px;" hover autoplay></lottie-player>
        <p class="text-main-color"> Empty collection</p>
    </div>
  </ng-template>
</div>
